<div class="row">
    <% if @games.count != 0 %>
        <% @games.each do |game| %>
            <div class="col-md-3">
                <a href="/games/<%= game.id %>">
                    <%= image_tag game.image.url, class: "game" %>
                </a>
            </div>
        <% end %>
    <% else %>
        <% if !params[:search].blank? %>
            <h4>No games were found matching <%= params[:search] %>.</h4>
        <% else %>
            <h1 class="col-md-8 col-md-offset-4">No Games Yet!</h1>
        <% end %>
    <% end %>
</div>

<script src="../../assets/javascripts/jquery.raty.js"></script>
<script>
    $('.comment-rating').raty({
        readOnly: true,
        score: function() {
            return $(this).attr('data-score');
        },
        path: '/assets/'
    });
</script>